<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Product Hunt</title>

    <style>
    
        
        .copy{
            text-align: center;
        }
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      

      .new{

          width: 250px;
          height: 175px;
      }

      .plus {
          font-size: 25px;
          font-style:normal;
          
      }

      

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    
    
    </style>
  </head>
  <body>

    <div>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                    <img src="https://www.flaticon.com/premium-icon/icons/svg/1022/1022830.svg" alt="" width="30px" height="30px" >
                    <a class="navbar-brand" href="{% url 'home'%}">  Product Hunt </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    {% if user.is_authenticated %}

                    <div class="collapse navbar-collapse " id="navbarNav">
                            <ul class="navbar-nav ml-auto">

                                <li class="nav-item">
                                    <a class="nav-link disable" href="{% url 'add' %}"> Add products  </a>
                                        
                                      
                                </li>


                              
                              <li class="nav-item">
                                <a class="nav-link" href="javascript: {document.getElementById('logout').submit()} ">Log Out</a>
                              </li>
                            </ul>

                            <form id="logout" action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                
                                <input type="hidden">
                            </form>
                    </div>

                    {% else %}


                    <div class="collapse navbar-collapse " id="navbarNav">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                          <a class="nav-link" href="{% url 'login' %}">Log In </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        
                      </ul>
                    </div>

                    {% endif %}
            </nav>
    </div>


    {% block content%}



    {% endblock %}

          
          <footer class="text-muted">
            <div class="container">
              
              <p class="copy"> &copy;productHunt.com</p>
              
            </div>
          </footer>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>